[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.26.0"
urllib3 = "==1.26.6"
nicovideo_api_client = {editable = true, path = "."}

[dev-packages]
sphinx-rtd-theme = "==1.0.0"
Sphinx = "==4.2.0"
pytest = "==6.2.5"

[requires]
python_version = "3.9"

[scripts]
start = "python examples/example.py"
test = "pytest tests"
docs = "sh script/make-docs.sh"
build = "bash -c 'pipenv run docs && sh script/build.sh'"